@keyframes spinSymbol {
    0% {
        transform: translate(0px, 0px);
    } 
    100% {
        transform: translate(0px, -7px);
    }
}

@keyframes moveParticles {
    
        0% {
            transform: rotate(-3deg);
        }
        100% {
            transform: rotate(3deg);
        }
    
}

@keyframes spinAround {
    
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }

}