@media (prefers-color-scheme: dark) {
    body {
      background-color: #3f4037;
      color: #f5edde;

    }
  
    main {
      background-color: #3d4530;
      box-shadow: 0px 0px 5px darken(#3d4530,20%);
    }

    label {
        color: #f5edde;
      }

      #link {
        color: lighten(black, 50%);
      }
  
  }

  @media (max-width: 2100px) {

    #luftkvalitet {
        grid-row-start: 6;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 5;
    }

    #luftkvalitet {
        width: 30%;
        margin-bottom: 5%;

        #luftkvalitet-content {
            margin-top: 10%;
          }

          h2 {
            margin-bottom: 10%;
          }
    }

    #karta-div {
        grid-row-start: 7;
        grid-row-end: 7;
        grid-column-start: 1;
        grid-column-end: 5;
    }

    #symbol-meaning {
        grid-row-start: 8;
        grid-row-end: 8;
        grid-column-start: 1;
        grid-column-end: 5;
    }

#symbol-tabell {
    grid-row-start: 9;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 5;
}

#merinfo{
    grid-row-start: 10;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 5;
}

#merinfo-knapp {
    grid-row-start: 11;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 5;
}

footer{
    grid-row-start: 12;
    grid-row-end: 12;
    grid-column-start: 1;
    grid-column-end: 5;
}



  }


  @media (max-width: 1800px) {

    body {
        background-color: aqua;
    }

    #kontakt {
        width: 40%;
        margin-left: 30%;
    }

    #industri {
        width: 50%;
        margin-left: 35%;
    }

    #partiklar {
        width: 40%;
        margin-left: 37%;
    }

#myChart {
    margin-bottom: 15%;
}

#partikel-info p {
    width: 60%;
    margin-left: 20%;
}

#partikel-info2 p {
    width: 60%;
    margin-left: 20%;
}


  }

  @media (max-width: 1000px) {

    body {
        background-color: #3f4037;
    }

    #kontakt {
        width: 60%;
        margin-left: 20%;
    }

    #luftkvalitet{
        width: 50%;
    }

    #symbol-meaning p{
        width: 70%;
        margin-left: 15%;
}

    #mer-info p{
        width: 70%;
        margin-left: 15%;
    }

    #symbol-tabell table {
        width: 70%;
    }

    #luftkvalitet {
        width: 57%;
    }

    #karta-div{
    iframe{
        width: 370px;
        height: 370px;
      }}

      #search-bar {
        width: 100%;
        margin-left: 18%;

        input{
            padding: 2%;
        }
      }

      #industri {
        width: 80%;
        margin-left: 28%;
      }

      #partiklar {
        width: 60%;
        margin-left: 33%;
      }

      #myChart {
        height: 400px;
        width: 400px;
        margin-bottom: 30%;

        p {
            width: 90%;
            margin-left: 5%;
        }
      }

      #partikel-info {
        width: 105%;
        margin-left: 0%;
      }

      #headmenu-small {
        display: initial;
      }
    
      #headmenu {
        display: none;
      }

      #sidtitel-small {
        text-align: left;
      }
    
      #sidtitel {
        display: none;
      }
    
      /*Design av hamburgermeny*/
      .headmenu-small-div {
        overflow: hidden;
        background-color: $highlight-color;
        position: relative;
      }
    
      .headmenu-small-div #menu-small {
        display: none;
      }
    
      .headmenu-small-div a {
        color: $text-color;
        padding: 14px 14px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
    
    
      #menu-small {
        list-style-type: none;
        margin-top: -5%;
    
        a:hover {
          color: white;
          background-color: darken($highlight-color, 10%);
          width: 30%;
          margin: auto;
        }
    
      }
    
      .bars {
        display: block;
        width: 20px;
        height: 3px;
        background-color: white;
        margin: 5px 0;
      }
    
      .menu-btn {
        display: flex;
        align-items: center;
        padding: 8px 5px;
        background-color: $highlight-color;
        cursor: pointer;
        box-shadow: none;
      }
    
      .open {
        display: flex;
        margin: 1em 1em;
        padding: 8px 15px;
        position: fixed;
        top: 0;
        right: 0;
        margin-top: 35px;
      }
    
      .menu-icon {
        margin-right: 15px;
    
      }
    
      .menu-text {
        font-size: 1.3em;
        color: white;
    
      }
    
      .close {
        display: flex;
        margin: 1em 1em;
        padding: 12px 11px;
        position: fixed;
        top: 0;
        right: 0;
        margin-top: 35px;
      }
    
      #open-menu,
      #close-menu {
        box-shadow: none;
        border: none;
      }
    
      .cross1 {
        width: 25px;
        transform: rotate(45deg);
        position: relative;
        top: 5px;
      }
    
      .cross2 {
        width: 25px;
        transform: rotate(135deg);
        position: relative;
        top: -3px;
      }
    
      .menu-btn-open,
      .menu-btn.close,
      #open-menu {
        position: absolute;
        right: 0;
        top: 0;
      }
    
      #open-menu {
        z-index: 2;
      }

  }

  @media (max-width: 800px) {
    body {
        background-color: pink;
    }

    #myChart {
        margin-bottom: 45%;
    }
}